<style>
table.solidblack {
    border-collapse: collapse;
}
table.solidblack th,
table.solidblack td {
    border: 1px solid black;
    text-align: center;
}
</style>
<a href="{% url 'compare' %}">home</a>
{% if campaign %} - <a href="{% url 'campaign' campaign.id %}">{{ campaign.name }}</a>{% endif %}
{% if adgroup %} > {{ adgroup.name }}{% endif %}
<br>
{% if keywords %}
    <br>
    <table class="solidblack">
    <tr>
        <th>keyword</th>
    </tr>
    {% for k in keywords %}
        <tr>
            <td><a href="{% url 'keyword' k.campaign.id k.adgroup.id k.id %}">{{ k.name }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
