<a href="{% url 'index' %}">index</a>
- full_table
<br>
{% if keywords %}
    <br>
    <table border="1">
    <tr>
        <td>campaign</td>
        <td>ad group</td>
        <td>keyword</td>
        <td>bid</td>
        <td>impressions</td>
        <td>clicks</td>
        <td>order_amount_first_month</td>
    </tr>
    {% for k in keywords %}
        <tr>
            <td>{{ k.campaign.name }}</td>
            <td>{{ k.adgroup.name }}</td>
            <td><a href="{% url 'keyword' k.campaign.id k.adgroup.id k.id %}">{{ k.name }}</a></td>
            <td>{{ k.bid }}</td>
            <td>{{ k.impressions }}</td>
            <td>{{ k.clicks }}</td>
            <td>{{ k.order_amount_first_month }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

