<style>
table.solidblack {
    width: 100%;
    border-collapse: collapse;
}
table.solidblack th,
table.solidblack td {
    border: 1px solid black;
    text-align: center;
}
</style>

{% if keywords %}
<form name="keyword-search" action="{% url 'full_table' %}" method="POST">
{% csrf_token %}
<table style="border-style:none;width:100%;">
<tr>
    <td style="text-align:left;">full table</td>
    <td style="text-align:right;"><input type="text" name="keyword"/>&nbsp;<input type="submit" value="search" /></td>
</tr>
</table>
</form>

<br>
<table class="solidblack">
    <tr>
        <td>campaign</td>
        <td>ad group</td>
        <td>keyword</td>
        <td>bid</td>
        <td>impressions</td>
        <td>clicks</td>
        <td>order amount first month</td>
    </tr>
    {% for k in keywords %}
        <tr>
            <td>{{ k.campaign.name }}</td>
            <td>{{ k.adgroup.name }}</td>
            <td><a href="{% url 'keyword' k.campaign.id k.adgroup.id k.id %}">{{ k.name }}</a></td>
            <td>{{ k.bid }}</td>
            <td>{{ k.impressions }}</td>
            <td>{{ k.clicks }}</td>
            <td>{{ k.order_amount_first_month }}</td>
        </tr>
    {% endfor %}
</table>
<div style="text-align:center;">
    <br>
    {% if first_page %}
    <a href="{% url 'full_table' %}?page={{ first_page }}">first</a>
    {% endif %}
    {% if prev_page %}
    <a href="{% url 'full_table' %}?page={{ prev_page }}">prev</a>
    {% endif %}

    {% for n in numbers %}
        {% if n == 0 %}
            ......
        {% elif n != cur_page %}
        <a href="{% url 'full_table' %}?page={{ n }}">{{ n }}</a>
        {% else %}
            {{ n }}
        {% endif %}
    {% endfor %}

    {% if next_page %}
    <a href="{% url 'full_table' %}?page={{ next_page }}">next</a>
    {% endif %}
    {% if last_page %}
    <a href="{% url 'full_table' %}?page={{ last_page }}">last</a>
    {% endif %}
</div>

{% endif %}
